<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />

</head>
<body style="overflow: hidden">
  <div id="root"></div>
  <script src='https://meet.jit.si/external_api.js'></script>
{{ script('index.js') }}
</body>
</html>